.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-brand > img {
  max-height: 100%;
}

nav {
  box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
}
