.navbar {
  min-height: 80px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-brand {
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 64px;
  line-height: 60px;
}

.navbar-brand > img {
  max-height: 100%;
}

nav {
  box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
}
