/*-----------------------

In this document, all styling variables which should be edited by future users are placed.

-----------------------*/

/* Color settings */
$primary_color:               #000000;    /* Black */
$primary_background_color:    #ffffff;    /* White */
$primary_text_color:          #26292a;    /* Dark grey */
$secondary_color:             #20639B;    /* Blue */
$alternative_1_color:         #3CAEA3;    /* Turqoise */
$alternative_2_color:         #F6D55C;    /* Yellow */
$alternative_3_color:         #ED553B;    /* Red */

/* Font settings */
$primary_header_font: Sans-serif;
$secondary_header_font: Serif;
$primary_paragraph_font: Sans-serif;
$secondary_paragraph_font: Serif;
