<!-- Imports for embedded map -->
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
  
<!-- Include general CSS -->
{{ $style := resources.Get "style/_map.scss" | toCSS }}
<link rel="stylesheet" href="{{ $style.Permalink | relURL }}">

<div id="home-map" class="container">
  <!-- This is where the map will be -->
</div>

<script type="text/javascript">
  var coordinate = [57.687895, 11.978108];
  var map = L.map('home-map', {detectRetina: true, dragging: !L.Browser.mobile, touchZoom: true, tap: false}).setView(coordinate, 17);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker(coordinate).addTo(map);
</script>

